*.project
inc/mysql.php
*.prefs
*.txt
*.jpg
*.htaccess
nbproject/*
inc/cryptkey.php
inc/_cache_/admin_dzcp_news.dat
*.bin
.idea/*
.idea/
_installer/system/_logs/
inc/_cache_/
inc/_templates_/version1.6/errors/demo.html
inc/additional-functions/addon_xxx/
inc/images/lightbox/
inc/images/maps/source/tf/
inc/securimage/audio/1/
nbproject/
inc/mysql_salt.php
